<header class="container">
  <h1 class="col text-center text-success">
    {{title}}
  </h1>
</header>

<section class="d-flex flex-column justify-content-center align-items-center">
<form class="form-row">
  <div class="form-group">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)] = "nombreInput">
  </div>
  <div class="form-group">
    <label for="cantidad">Cantidad: </label>
    <input type="text" name="cantidad" id="cantidad" placeholder="cantidad" class="form-control" [(ngModel)] = "cantidadInput" >
  </div>
  <div class="form-group ">
    <label for="precio">precio: </label>
    <input type="text" name="precio" id="precio" placeholder="precio" class="form-control" [(ngModel)] = "precioInput">
  </div>

  <div class="col pb-2">
    <button class="btn btn-primary" (click)="agregarArticulo()">Agregar</button>
  </div>
</form>


  <div class="container">
    <div class="row">
      <p class="text-center text-white text-bold bg-danger" *ngIf="articulos.length === 0">No hay articulos en el carrito</p>
      <ul class="col list-group">
        <li class="list-group-item" *ngFor="let articulo of articulos; let i = index">
          {{i}}   | NOMBRE: {{articulo.nombre}}  | CANTIDAD: {{articulo.cantidad}} | PRECIO: {{articulo.precio}}
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p class="col text-center">
        El precio total es: {{precioTotal}}
      </p>
    </div>
  </div>
</section>

